.login-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f2f5;
}

.login-box{
    width: 320px;
    padding: 25px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.login-box form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-box h2{
    text-align: center;
    margin-bottom: 15px;
    color: #333;
}

.login-box input{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
}

.login-box button{
    padding: 12px;
    background: #007bff;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.login-box button:hover{
    background: #005fcc;
}

.error{
    color: red;
    text-align: center;
    font-size: 14px;
}