.sidebar{
    width: 230px;
    height: 100vh;
    background: #111;
    padding: 25px;
    color: #fff;
    position: fixed;
    top: 0;
    left: -270px;
    transition: 0.3s ease;
}

.sidebar.open{
    left: 0;
}

.close-btn{
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

.sidebar-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar-link{
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 0;
    transition: 0.2s;
}

.sidebar-link:hover{
    color: #fff;
    margin-left: 5px;
}

.navbar{
    height: 60px;
    background: #222;
    color: #fff;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.menu-btn{
    font-size: 24px;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 15px;
}

.logount-btn{
    background: #ff4444;
    border: none;
    padding: 8px 14px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.2s;
}

.logount-btn:hover{
    background: #cc0000;
}

.main-content{
    margin-left: 23px;
    padding: 20px;
    margin-top: 20px;
}

/*margin-left: 230px;*/