.page-container{
    padding: 20px;
}

.page-title{
    font-size: 28px;
    margin-bottom: 15px;
}

.search-area{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-input{
    width: 250px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}

.search-btn{
    padding: 8px 16px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.search-btn:hover{
    opacity: 0.8;
}

.grid-movies{
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    gap: 20px;
}

.movie-card{
    text-align: center;
}

.movie-card img{
    width: 100%;
    border-radius: 8px;
}